## Lab | Cleaning numerical data

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [2]:
data = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
data.head()

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2/24/11,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,1/31/11,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2/19/11,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,1/20/11,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2/3/11,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize

In [3]:
data.shape

(9134, 24)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Customer                       9134 non-null   object
 1   State                          9134 non-null   object
 2   Customer Lifetime Value        9134 non-null   float64
 3   Response                       9134 non-null   object
 4   Coverage                       9134 non-null   object
 5   Education                      9134 non-null   object
 6   Effective To Date              9134 non-null   object
 7   EmploymentStatus               9134 non-null   object
 8   Gender                         9134 non-null   object
 9   Income                         9134 non-null   int64
 10  Location Code                  9134 non-null   object
 11  Marital Status                 9134 non-null   object
 12  Monthly Premium Auto           9134 non-null   int64
 13  Months Since Last Claim        9134 non-null   int64
 14  Months Since Policy Inception  9134 non-null   int64
 15  Number of Open Complaints      9134 non-null   int64
 16  Number of Policies             9134 non-null   int64
 17  Policy Type                    9134 non-null   object
 18  Policy                         9134 non-null   object
 19  Renew Offer Type               9134 non-null   object
 20  Sales Channel                  9134 non-null   object
 21  Total Claim Amount             9134 non-null   float64
 22  Vehicle Class                  9134 non-null   object
 23  Vehicle Size                   9134 non-null   object
dtypes: float64(2), int64(6), object(16)
memory usage: 1.7+ MB

In [5]:
data.isna().sum()

Customer                         0
State                            0
Customer Lifetime Value          0
Response                         0
Coverage                         0
Education                        0
Effective To Date                0
EmploymentStatus                 0
Gender                           0
Income                           0
Location Code                    0
Marital Status                   0
Monthly Premium Auto             0
Months Since Last Claim          0
Months Since Policy Inception    0
Number of Open Complaints        0
Number of Policies               0
Policy Type                      0
Policy                           0
Renew Offer Type                 0
Sales Channel                    0
Total Claim Amount               0
Vehicle Class                    0
Vehicle Size                     0
dtype: int64

In [6]:
data.columns=[e.lower().replace(' ', '_') for e in data.columns]   # lower and replace
data.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [8]:
data['effective_to_date'].value_counts()

1/10/11    195
1/27/11    194
2/14/11    186
1/26/11    181
1/17/11    180
1/19/11    179
1/3/11     178
1/31/11    178
1/20/11    173
1/28/11    169
2/26/11    169
2/19/11    168
1/5/11     167
2/27/11    167
1/11/11    166
2/4/11     164
2/28/11    161
2/10/11    161
1/2/11     160
1/21/11    160
1/29/11    160
2/5/11     158
2/22/11    158
2/3/11     158
2/7/11     157
2/12/11    156
1/23/11    155
1/18/11    154
2/1/11     154
1/15/11    153
1/14/11    152
1/7/11     151
1/25/11    151
2/11/11    151
2/18/11    149
2/2/11     149
1/8/11     149
2/25/11    149
2/21/11    148
1/1/11     148
1/24/11    147
1/9/11     146
1/30/11    145
1/13/11    145
2/6/11     144
1/6/11     143
2/23/11    143
1/16/11    142
2/13/11    139
2/16/11    139
2/24/11    139
2/9/11     137
2/17/11    136
1/22/11    136
2/8/11     134
2/20/11    132
2/15/11    130
1/12/11    126
1/4/11     115
Name: effective_to_date, dtype: int64

In [9]:
data['effective_to_date']=pd.to_datetime(data['effective_to_date'])

In [61]:
data['effective_to_date'][0]

Timestamp('2011-02-24 00:00:00')

In [11]:
print('--')
print('Min date: {}'.format(data['effective_to_date'].min()))         # from January 1st..
print('Max date: {}'.format(data['effective_to_date'].max()))         # to February 28th
print('--')

--
Min date: 2011-01-01 00:00:00
Max date: 2011-02-28 00:00:00
--

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9134 entries, 0 to 9133
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   datetime64[ns]
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   int64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   int64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(15)
memory usage: 1.7+ MB

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

In [4]:
cat_cols= data.select_dtypes(np.object).columns    # categorical columns

print('Categorical Features:', len(cat_cols))
print('----------')
for c in cat_cols:
    print('Name: {}'.format(data[c].name))    # column name
    print('Type: {}'.format(data[c].dtype))   # column type
    print('Unique values: {}'.format(len(data[c].unique())))   # column unique values
    print(data[c].unique())
    print(((data[c].value_counts()/ sum(data[c].value_counts()))*100))   # percentage
    print('\n----------')

NameError: name 'data' is not defined

In [18]:
num_cols = data.select_dtypes(np.number).columns

In [19]:
print('Categorical Features:', len(num_cols))
print('----------')
for c in num_cols:
    print('Name: {}'.format(data[c].name))    # column name
    print('Type: {}'.format(data[c].dtype))   # column type
    print('Unique values: {}'.format(len(data[c].unique())))   # column unique values
    print(data[c].unique())
    print(((data[c].value_counts()/ sum(data[c].value_counts()))*100))   # percentage
    print('\n----------')

Categorical Features: 8
----------
Name: customer_lifetime_value
Type: float64
Unique values: 8041
[ 2763.519279  6979.535903 12887.43165  ...  8163.890428  7524.442436
  2611.836866]
2300.691547     0.065689
6057.072080     0.065689
6005.214792     0.065689
8819.018934     0.065689
4984.618655     0.065689
                  ...
12206.892080    0.010948
3728.830130     0.010948
2456.816647     0.010948
2675.029491     0.010948
4491.909095     0.010948
Name: customer_lifetime_value, Length: 8041, dtype: float64

----------
Name: income
Type: int64
Unique values: 5694
[56274     0 48767 ... 66367 71941 21941]
0        25.366762
95697     0.131377
40864     0.076637
24910     0.076637
25965     0.076637
           ...
26952     0.010948
84300     0.010948
22862     0.010948
20815     0.010948
57240     0.010948
Name: income, Length: 5694, dtype: float64

----------
Name: monthly_premium_auto
Type: int64
Unique values: 202
[ 69  94 108 106  73  67 101  71  93 110  70  64  72  74  79  61 111 139
  80  63 237  65  62 117  91  90  66  99 103 172  92 104 113 124 105 100
 112  97  95 102 186  77  96  76 119  88 109 107 130  85  98 133  86  78
  83  68 192 118  89 140 127 168 126  82 115 217 114 138  81 255 150 123
 116 190 159  84 152 136 245 135 128 225 132 153 121 154 161 156 171  87
 244 183 176 230 129 177 196 131 276 253 137 180 203 147 165 198 125 193
 271 188 142 206 182 189 160 295 210 134 239 256 173 285 148 197 199 214
 175 167 194 164 181 222 215 283 169 248 223 273 151 213 145 185 287 297
 201 149 146 235 268 211 187 141 242 170 122 143 155 166 212 249 240 191
 195 216 144 179 232 158 207 184 238 229 220 178 204 281 234 218 275 209
 261 157 205 228 284 231 208 296 202 162 274 219 247 290 226 163 298 266
 254 252 174 286]
65     3.809941
66     3.361069
71     3.328224
73     3.306328
63     3.164003
         ...
231    0.010948
209    0.010948
204    0.010948
268    0.010948
284    0.010948
Name: monthly_premium_auto, Length: 202, dtype: float64

----------
Name: months_since_last_claim
Type: int64
Unique values: 36
[32 13 18 12 14  0 17 23 27  9 21 11 31  8  4 30 22 15 33  1 19 28 10  7
  3  5 20 24 29 34  6 35  2 16 26 25]
3     4.171228
6     3.985111
1     3.777097
4     3.667616
7     3.645719
2     3.601927
0     3.437705
5     3.426757
10    3.350120
11    3.251587
16    3.229691
15    3.131158
13    3.120210
8     3.054522
12    2.988833
14    2.934092
17    2.879352
9     2.737026
19    2.693234
23    2.616597
25    2.583753
21    2.550909
20    2.529012
18    2.507116
22    2.386687
24    2.310050
29    2.255310
28    2.200569
31    2.080140
26    2.036348
27    1.992555
30    1.992555
33    1.959711
34    1.850230
35    1.554631
32    1.510839
Name: months_since_last_claim, dtype: float64

----------
Name: months_since_policy_inception
Type: int64
Unique values: 100
[ 5 42 38 65 44 94 13 68  3  7 87 82 25 10 50 59  1 21 49 91 47 64 54  6
 14 56 17 40 62 86 79 15 32 28 16  4 57 77 95 26 53 12 98 36 71 60 20  0
 27 48 33 83 30 69 90 81 84 88 18 11 85 93 34 89  2 70 37 43  8 35 99 55
 75 51 92 29 63 61 46 41 31 45 67 22 23  9 72 96 58 66 73 39 19 97 52 76
 78 80 74 24]
59    1.554631
61    1.401358
50    1.368513
44    1.259032
10    1.248084
        ...
16    0.766367
96    0.733523
82    0.613094
98    0.591198
97    0.569302
Name: months_since_policy_inception, Length: 100, dtype: float64

----------
Name: number_of_open_complaints
Type: int64
Unique values: 6
[0 2 1 3 5 4]
0    79.395665
1    11.068535
2     4.094592
3     3.196847
4     1.631268
5     0.613094
Name: number_of_open_complaints, dtype: float64

----------
Name: number_of_policies
Type: int64
Unique values: 9
[1 8 2 7 9 4 3 6 5]
1    35.592293
2    25.114955
3    12.787388
7     4.740530
9     4.554412
4     4.477775
5     4.455879
8     4.204073
6     4.072695
Name: number_of_policies, dtype: float64

----------
Name: total_claim_amount
Type: float64
Unique values: 5106
[ 384.811147 1131.464935  566.472247 ...  541.282007  198.234764
  790.784983]
316.800000    1.269980
292.800000    1.204292
312.000000    1.182395
350.400000    1.149551
331.200000    1.116707
                ...
212.009825    0.010948
314.880326    0.010948
707.925645    0.010948
246.993145    0.010948
204.620759    0.010948
Name: total_claim_amount, Length: 5106, dtype: float64

----------

In [26]:
print(len(data['number_of_open_complaints'].unique()))

6

In [59]:
def con_dis(x):
    if len(data[x].unique()) > 10:
        return   print('{}: continuous'.format(data[x].name))
    else:
        return   print('{}: discrete'.format(data[x].name))

In [60]:
separated = map(con_dis,num_cols)
list(separated)

customer_lifetime_value: continuous
income: continuous
monthly_premium_auto: continuous
months_since_last_claim: continuous
months_since_policy_inception: continuous
number_of_open_complaints: discrete
number_of_policies: discrete
total_claim_amount: continuous

[None, None, None, None, None, None, None, None]

In [ ]:
data[x].value_counts()